.ListBox {
	padding: 15px;
	border: 1px solid #aaa;
	border-radius: 10px;
}

.ListBox input {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: transparent;
}

.ListBox button {
	margin-left: 10px;
}